@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('./normalize.css');

:root {
    --transition: all .3s ease;
    --purple: hsl(281, 48%, 27%);
    --footer-background: hsl(210, 100%, 4%);
    --light-blue: hsl(207, 100%, 50%);
    --light-text: hsl(225, 18%, 49%);
    --black: hsl(0, 0%, 20%);
    --nav-height: max(12vh ,5.1rem);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-color: rgba(0, 0, 0, .15);
}

figure {
    margin: 0;
}

iframe {
    width: 100%;
}

/*=================== Base ===================*/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: min(90%, 1000px);
    margin: 0 auto;
}

.btn-ticket {
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: var(--light-blue);
    color: white;
    padding: .5rem 1.4rem;
    transition: var(--transition);
}

.btn-ticket:hover {
    background-color: white;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.title-black {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 400;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    outline: none;
    border-radius: 3px;
}

.select {
    width: 100%;
    padding: .4rem 1rem;
    border-radius: 3px;
}

.radio-label {
    margin-right: 1rem;
    margin-left: .2rem;
}

.form-section h3 {
    margin: 1rem 0 0;
}


.input-container {
    position: relative;
    width: 49%;
    margin: 1.3rem 0;
}

.input-container::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: var(--purple);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: all .5s ease;
}

.input-container:focus-within::after {
    transform: scale(1,1);
}

.input-container > :is(p, label):first-child,
.precio-parrafo-total {
    display: block;
    margin: 1.2rem 0 .75rem;
    color: var(--light-text);
    font-weight: 600;
}

.form-section {
    padding: 1rem 0;
}

.form-section .form-section-name {
    color: var(--purple);
    font-size: 1.8rem;
    font-weight: 400;
    width: 100%;
}

.btn-form {
    background: var(--purple);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.btn-form:hover {
    background: white;
    border: 1px solid var(--purple);
    color: var(--purple);
}

/* =================== Nav ===================*/

.header .nav {
    height: var(--nav-height);
}

.header .nav i, 
.header .nav .checkbox {
    display: none;
}

.header .nav .logo {
    width: max(11.25rem, 20%);
}

.header .nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
}

.header .nav ul .nav-item {
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--black);
    transition: var(--transition);
}

.header .nav ul .nav-item:hover {
    transform: scale(1.1);
}

/* =================== Footer ===================*/

.footer {
    grid-area: footer;
    text-align: center;
    padding: 4rem;
    background: var(--footer-background);
}

.footer * {
    color:white;
    margin: .5rem;
}

.footer img {
    width: max(20%, 15.6rem);
}

.footer .redes {
    font-size: 1.5rem;
}

.footer .redes a i {
    transition: var(--transition);
}

.footer .redes a i:hover {
    transform: scale(1.2);
}

/* =================== Home ===================*/

.grid-home {
    display: grid;
    grid-template-areas:    'header header header'
                            'main   main   sidebar'
                            'footer footer footer'
    ;
    grid-template-columns: 1fr 1fr .8fr ;
}

.header {
    grid-area: header;
}

.header .slider .slider-item-description {
    bottom: 20%;
    left: 10%;
}

.header .slider .slider-item-description .season {
    color: var(--light-blue);
    font-weight: 700;
    margin: 0;
}

.header .slider .slider-item-description .title {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.home-main {
    grid-area: main;
}

.home-main .home-title {
    margin: 2rem 0;
    text-align: center;
}

.home-main .home-movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat( 3, 1fr );
}

.home-main .home-movie-container .home-movie img {
    width: 100%;
}

.home-main .home-movie-container .home-movie .text-container {
    bottom: 15%;
    left: 10%;
}

.home-main .home-movie-container .home-movie .text-container .season {
    color: var(--light-blue);
    font-weight: 700;
    margin: 0;
}

.home-main .home-movie-container .home-movie .text-container .title {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 1.5rem;
}

.sidebar .ad {
    text-align: center;
}

.sidebar .ad .sidebar-ad-text {
    font-style: italic;
    font-size: .7rem;
}

.sidebar .ad img {
    width: 80%;
    object-fit: cover;
    cursor: pointer;
    filter: opacity(.8);
}

/* =================== Cartelera ===================*/

.header-cartelera {
    background: url(../assets/cartelera/showcase-background.png);
}

.header-cartelera .nav ul .nav-item a {
    color: white;
}

.header .showcase-text-container {
    text-align: center;
    padding: 3rem 0 8rem;
}

.header .showcase-text-container > * {
    margin: 2rem 0;
    color: white;
}

.header .showcase-text-container .showcase-title {
    font-size: 3rem;
    font-weight: 600;
}

.header .showcase-text-container .showcase-desc {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.header .showcase-text-container .lentes {
    width: max(45%, 20rem);
}

.main-cartelera {
    padding: 2rem 0;
}

.main-cartelera .section {
    margin: 4rem 0;
}

.main-cartelera .section .movies-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}

.main-cartelera .section .movies-container .movie {
    width: 22%;
    display: flex;
    flex-direction: column;
    min-height: 20.625rem;
    transition: var(--transition);
}

.main-cartelera .section .movies-container .movie:hover {
    transform: scale(1.05);
}

.main-cartelera .section .movies-container .movie img {
     width: 100%;
     margin-bottom: .8rem;
}

.main-cartelera .section .movies-container .movie .name {
    font-weight: 600;
}

 /* =================== Precios ===================*/

.showcase-precios {
    width: 100%;
    object-fit: cover;
}

.main-precios .section {
    margin: 2rem 0;
}

.main-precios .section .combos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.main-precios .section .combos-container .combo {
    width: 43%;
}

.main-precios .section .combos-container .combo .combo-name {
    font-size: 1.1rem;
    font-weight: 600;
}

.main-precios .section .combos-container .combo .img-info {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
}

.main-precios .section .combos-container .combo .img-info img {
    width: 100%;
    object-fit: contain;
    height: 13rem;
}

.main-precios .section .combos-container .combo .img-info .combo-info {
    background: var(--purple);
    color: white;
    text-align: center;
    padding: .5rem 1rem;
    flex-direction: column;
}

.main-precios .section .combos-container .combo .img-info .combo-info .precio {
    margin: 0;
}

.main-precios .section .combos-container .combo .img-info .combo-info .desc {
    line-height: 30px;
}

/* =================== Carga tu CV ===================*/

.header .showcase-carga {
    height: calc( 100vh - var(--nav-height) );
    background: url('../assets/cargaTuCV/showcase-background.png') no-repeat center center / cover;
    flex-direction: column;
}

.header .showcase-carga .showcase-text {
    text-align: center;
    width: min(50rem, 70%);
}

.header .showcase-carga :is(h2, p) {
    margin: 0;
    color: white;
    margin-bottom: 2rem;
}

.header .showcase-carga h2 {
    font-weight: 600;
    font-size: 2.2rem;
}

/* =================== Comprar ===================*/

.header-comprar {
    height: auto;
}

.form .form-section .figure-container {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem 0;
}

.form .form-section .figure-container .figure {
    text-align: center;
    text-transform: uppercase;
}

.options {
    padding: 1rem 0;
    width: 100%;
    display:  flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem 2rem;
}

.options p {
    width: 100%;
    margin: 0;
}

.options [type=radio] {
    display: none;
}

.option {
    background: var(--purple);
    color: white;
    padding: .8rem 1.5rem;
    text-align: center;
    width: max(8%, auto);
    font-size: .9rem;
    border: 1px solid var(--purple);
    cursor: pointer;
    transition: var(--transition);
}

.option:hover,
[type=radio]:checked + .option{
    background: white;
    color: var(--purple);
}

.horario {
    background: white;
    color: var(--purple);
}

.horario:hover,
[type=radio]:checked + .horario {
    background: var(--purple);
    color: white;
}

.precio-parrafo-total {
    width: 100%;
}

#precio_total {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--black);
    margin-left: 1rem;
}

.redirect {
    width: 50%;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: white;
    background: rgba(81, 36, 102, .8);
    border-radius: 3px 3px 0 0;
    bottom: -85px;
    transition: var(--transition);
}

@media screen and (max-width: 1024px) {
    .grid-home {
        grid-template-areas:    'header  header  header'
                                'main    main    main'
                                'sidebar sidebar sidebar'
                                'footer  footer  footer'
        ;
    }

    .header .slider .carousel-inner {
        height: 40vh;
    }

    .header .slider .carousel-inner .carousel-item {
        height: 100%;
    }
    
    .header .slider .carousel-inner .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        object-fit: cover;
    }

    .sidebar {
        flex-direction: row;
    }

    .sidebar .ad {
        width: 24%;
        height: 130px;
    }

    .sidebar .ad img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 12px;
    }
    /* =================== Base ===================*/
    .input-container {
        width: 100%;
    }

    /* =================== Navbar ===================*/
    .header .nav i {
        display: inline;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .header .nav .fa-times {
        top: 15px;
        right: 15px;
    }
    
    .header .nav .fa-bars {
        color: var(--black);
        font-size: 1.5rem;
    }

    .header .nav .fa-bars.light {
        color: white;
    }

    .header .nav ul {
        position: fixed;
        transform-origin: left;
        transform: scale(0, 1);
    }

    .header .nav ul > * {
        opacity: 0;
    }

    .header .nav .checkbox:checked ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        top: 0;
        width: 40%;
        height: 100vh;
        padding: 0;
        background-color: rgba(81, 36, 102, .96);
        transition: var(--transition);
        transform: scale(1, 1);
        z-index: 1000;
    }

    .header .nav .checkbox:checked ~ ul > * {
        opacity: 1;
        transition: var(--transition) .250s;
    }

    .header .nav ul .nav-item {
        color: white;
        margin: 1rem;
        font-size: 1.3rem;
    }

    /* =================== Home ===================*/
    .home-main .home-movie-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat( 6, 1fr );
        font-size: 1.5rem;
    }

    .sidebar {
        gap: 3vw;
    }

    .sidebar .ad {
        width: 45%;
        height: 130px;
    }

    /* =================== Cartelera ===================*/

    .main-cartelera .section .movies-container .movie {
        width: 37%;
        margin-right: 1.5rem;
    }
    
    /* =================== Precios ===================*/
    .main-precios .section .combos-container .combo .img-info {
        grid-template-columns: 1fr;
    }

    .main-precios .section .combos-container .combo .img-info .combo-info {
        padding: 1.5rem 0;
    }

    .main-precios .section .combos-container .combo .img-info .combo-info .desc {
        margin-bottom: 0;
    }

    .br-responsive {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    html {
        font-size: 12px;
    }

    .header .slider .slider-item-description .season {
        display: none;
    }

    .header .slider .slider-item-description {
        bottom: 25%;
        height: auto;
    }

    .header .slider .slider-item-description .title {
        font-size: 1.5rem;
    }

    /* .sidebar .ad {
        width: 100%;
        height: 20rem;
    } */

     /* =================== Cartelera ===================*/

    .main-cartelera .section .movies-container {
        justify-content: center;
    }

    .main-cartelera .section .movies-container .movie {
        width: 51%;
        margin-right: 0;
    }

     /* =================== Precios ===================*/

    .main-precios .section .combos-container .combo {
        width: 100%;
    }
}